.start-num {
	background-color: #ddc;
	color: #246;
	font-size: 120%;
	font-weight: bold;
	margin: 20px 0;
}
body {
	margin-bottom: 300px;
}

/*★★★★★★★ 000 ★★★★★★★*/


/*★★★★★★★ 001 ★★★★★★★*/


/*★★★★★★★ 002 ★★★★★★★*/


/*★★★★★★★ 003 ★★★★★★★*/


/*★★★★★★★ 004 ★★★★★★★*/

#id004 button {
	border-radius: 10px;
	height: 50px;
	width: 160px;
	font-size: 20px;
	background-color: #ff2222;
}
#id004 #time {
	height: auto;
	width: auto;
	font-size: 40px;
	color: white;
	background-color: blue;
	margin-top: 20px;
}

/*★★★★★★★ 005 ★★★★★★★*/

/*★★★★★★★ 006 ★★★★★★★*/

#id006 .box{
	position: relative;
	border-bottom:  1px solid #ccc;
	width: 400px;
	/*margin:50px auto;*/
}
#id006 #pwd {
	width: 300px;
	height: 23px;
	font-size: 30px;
  margin-left: 6px;
  border: 0;
  outline: none;
}
#id006 img {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
}


/*★★★★★★★ 007 ★★★★★★★*/

#id007 .box007 {
  position: relative;
  width: 74px;
  height: 102px;
  border: 1px solid #ccc;
  font-size: 12px;
  text-align: center;
  color: #f40;
  /* display: block; */
            
}
/*attention: saving .css doesn't 
refresh html page*/

#id007 .box007 img {
            width: 60px;
            margin-top: 5px;
        }
#id007 .box007 label {
            position: absolute;
            top: -1px;
            right: -16px;
            width: 14px;
            height: 14px;
            border: 1px solid #ccc;
            line-height: 14px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
        }
/*★★★★★★★ 008 ★★★★★★★*/

#id008 .b008{
	color: #999;
	font-weight: bold;
}
#id008 .change008 {
	color: red;
}

/*attention: 
the order of the class css affects the precedence*/

/*★★★★★★★ 009 ★★★★★★★*/

#id009 .prompt {
	color: blue;
	padding-left: 20px;
	background: url(images/mess.png) no-repeat left center;;
}
#id009 .right {
	color: green;
	background-image: url(images/right.png);
}
#id009 .wrong {
	color: red;
	background-image: url(images/wrong.png);
}
/*★★★★★★★ 010 ★★★★★★★*/


/*★★★★★★★ 011 ★★★★★★★*/
#id011 table, #id011 th, #id011 td {
/*attention: #id011 table, #id001 th, #id001 td logic error*/
	border-collapse: collapse;
	/*border: 1px solid black;*/
	text-align: center;

}

#id011 table {
	width: 500px;
}
#id011 thead tr, #id011 thead td{
	background-color: #999;
	font-size: 18px;
}
#id011 tbody td {
	color: darkblue;
	font-size: 15px;
	border-bottom: 1px solid #999;
}

/*★★★★★★★ 012 ★★★★★★★*/
#id012, 
#id012 .t3, 
#id012 .t5 {
	color: red;
}
#id012 .t1, 
#id012 .t6 {
	color: green;
}
#id012 .t2, 
#id012 .t4,
#id012 .t7 {
	color: inherit;
}


/*★★★★★★★ 013 ★★★★★★★*/
#id013 * {
	margin: 0;
}
#id013 table, #id013 th, #id013 td  {
	border: 1px solid #aaa;
	border-collapse: collapse;
}

#id013 table {
	width: 400px;
	text-align: center;
	background-color: #f1f1f1;
}
#id013 tr {
	height: 40px;
}
#id013 th {

	background-color: skyblue;
}
#id013 input {
	height: 20px;
	width: 20px;
}

 #id013 tbody tr:hover {
/*attention: ': hover' the space after: lead to a syntax error*/
	cursor: pointer;
	background-color: #fefefe;
}

/*★★★★★★★ 014 ★★★★★★★*/
#id014 {

}

#id014 {

}

/*★★★★★★★ 015 ★★★★★★★*/
#id015 * {
	margin: 0;
	padding: 0;
}
#id015 .tab {
	border: 1px solid #ccc;
	float: left;
	background-color: #eee;
	cursor: pointer;
}
#id015 li {
	float: left;
	list-style-type: none;
	padding: 10px 25px;
	font-size: 18px ;
	text-transform: uppercase;


}

#id015 .tab .show {
	color: white;
	background-color: #b22;
}
#id015 .module div {
	/*question?? if remove div logic error*/
	clear: both;
	font-size: 18px;
	display: none;
}
#id015 .module .moduleShow {
	display: block;
	/*color: green;*/
}
#id015 .nonSelectedTab {
	color: black;
	background-color: inherit;
}
#id015 .selectedTab {
	color: white;
	background-color: #b22;
}
/*★★★★★★★ 016 ★★★★★★★*/
/*1. clear all margin and padding*/
#id016 *{
	margin: 0;
	padding: 0;
}
/*2. remove the link underline*/
#id016 a {
	text-decoration: none;
	/*note: remember text-decoration*/
	font-size: 18px;
	color: #333;
	text-transform: capitalize;
	display: block;
	/*attention. make <a> as block*/

	
}
/*3. remove the list points*/
#id016 .nav li{
	list-style-type: none;
	/*note: remember list-style-type*/
	text-align: center;
	line-height: 50px;
}
/*4. adjust list in a row*/
#id016>.nav>ul>li{
	float: left;
	width: 200px;
}
/*5. add list border*/
#id016 .dropdown li {
	border-left: 1px solid #FECC5B;
	border-right: 1px solid #FECC5B;
	border-bottom: 1px solid #FECC5B;
}
/*6. hover mouse*/
#id016 .box>li>a:hover {
	/*attention: ':' no space before and after*/
	background-color: #eee;
}
#id016 .dropdown li a:hover {
	background-color: #FFF5DA;
}
/*7. space between columns*/
#id016 .box>li {
	margin: 0 5px;
}
/*8. keep dropdown invisible*/
#id016 .dropdown {
	display: none;
}
/*9. make outer box float*/
#id016  {
	/*float: left;*/
	/*border: 1px solid red;*/
	height: 300px;
}
/*★★★★★★★ 017 ★★★★★★★*/
#id017 {

}

#id017 {

}

/*★★★★★★★ 018 ★★★★★★★*/
#id018 {

}

#id018 {

}

/*★★★★★★★ 019 ★★★★★★★*/
#id019 * {
	margin: 0;
	padding: 0;
}
#id019 textarea {
	height: 100px;
	width: 200px;
	border: 1px solid #911;
	resize: none;
}

#id019 li{
	background-color: #ddf;
	/*list-style-type: none;*/
	width: 400px;
	margin-top: 5px;
}
#id019 li a {
	float: right;
}
/*★★★★★★★ 020 ★★★★★★★*/
#id020 table, #id020 th, #id020 td {
	/*question. remove #id020 table will lead to logic error*/
	border: 1px solid #333;
	border-collapse: collapse;
}

#id020 table{
	width: 700px;
	text-align: center;
}

#id020 tr {
	height: 30px;
}
#id020 th {
	font-size: 25px;
	background-color: #ccc;
}
#id020 td {
	font-size: 20px;
}
#id020 tbody tr:hover {
	background-color: #fee;
}
/*★★★★★★★ 021 ★★★★★★★*/
#id021 {
	height: 300px;
	width: 80%;
	position: relative;
	background-color: #ccc;
}

#id021 img {
	position: absolute;
}

/*★★★★★★★ 022 ★★★★★★★*/
#id022 {
	font-style: italic;
	font-size: 20px;
	/*cursor: default;*/
}

#id022 {

}

/*★★★★★★★ 023 ★★★★★★★*/
#id023 {

}

#id023 {

}

/*★★★★★★★ 024 ★★★★★★★*/
/*question. */
#id024 * {
    margin: 0;
    padding: 0;
}

#id024 .search {
    position: relative;
    width: 250px;
    margin: 50px;
}

#id024 .con {
    display: none;
    position: absolute;
    top: -40px;
    width: 230px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 5px 0;
    /*font-size: 18px;
    line-height: 20px;
    color: #333;*/
}
#id024 input {
	width: 200px;
}
#id024 .con::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 28px;
    left: 18px;
    border: 8px solid #000;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
}
/*★★★★★★★ 025 ★★★★★★★*/
#id025 input {
	width: 50px;
	height: 30px;
	font-size: 20px;
}
#id025 button {
	height: 30px;
	width: auto;
	background-color: #7a7;
	font-size: 20px;
}
#id025 .pause {
	background-color: #a22;
	width: 100px;
}
#id025 .clear {
	background-color: #b4b;
}
#id025 .countdown {
	margin: 20px 10px;
}
#id025 span {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #444;
	text-align: center;
	color: #ddf;
	font-size: 30px;
	/*vertical-align: 30px;*/
	padding: 5px;
	line-height: 50px;
}
#id025 i {
	font-style: normal;
	font-size: 30px;
	font-weight: bold;
	color:#55f;
}

/*★★★★★★★ 026 ★★★★★★★*/
#id026 * {
	padding: 0 5px;
	margin: 0;
}
#id026 {
	font-size: 20px;
}
#id026 input {
	width: 90px;
	height: 30px;
	font-size: 16px;
	border:1px solid blue;
}
#id026 .btn {
	margin: 10px;
}
#id026 .form span {
	/*display: inline-block;*/
	/*border:1px solid blue;*/
	/*vertical-align: 4px;*/
	/*padding-top: 2px;*/
	font-size: 16px;
	height: 30px;
}
#id026 .cycles {
	width: 50px;
}
#id026 button {
	height: 30px;
	width: auto;
	background-color: #7a7;
	font-size: 20px;
}
#id026 .pause {
	background-color: #a22;
	width: 100px;
}
#id026 .clear {
	background-color: #b4b;
}
#id026 .countdown {
	margin: 20px 10px;
}
#id026 .countdown span {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #444;
	text-align: center;
	color: #ddf;
	font-size: 30px;
	/*vertical-align: 30px;*/
	padding: 5px;
	line-height: 50px;
}
#id026 i {
	font-style: normal;
	font-size: 30px;
	font-weight: bold;
	color:#55f;
}
/*★★★★★★★ 027 ★★★★★★★*/
#id027 {

}

#id027 {

}

/*★★★★★★★ 028 ★★★★★★★*/
#id028 {

}

#id028 {

}

/*★★★★★★★ 029 ★★★★★★★*/
#id029 {

}

#id029 {

}

/*★★★★★★★ 030 ★★★★★★★*/
#id030 {

}

#id030 {

}

/*★★★★★★★ 031 ★★★★★★★*/
#id031 {

}

#id031 {

}

/*★★★★★★★ 032 ★★★★★★★*/
#id032 {

}

#id032 {

}

/*★★★★★★★ 033 ★★★★★★★*/
#id033 {

}

#id033 {

}

/*★★★★★★★ 034 ★★★★★★★*/
#id034 {

}

#id034 {

}

/*★★★★★★★ 035 ★★★★★★★*/
#id035 {

}

#id035 {

}

/*★★★★★★★ 036 ★★★★★★★*/
#id036 {

}

#id036 {

}

/*★★★★★★★ 037 ★★★★★★★*/
#id037 {

}

#id037 {

}

/*★★★★★★★ 038 ★★★★★★★*/
#id038 {

}

#id038 {

}

/*★★★★★★★ 039 ★★★★★★★*/
#id039 {

}

#id039 {

}

/*★★★★★★★ 040 ★★★★★★★*/
#id040 {

}

#id040 {

}

/*★★★★★★★ 041 ★★★★★★★*/
#id041 {

}

#id041 {

}

/*★★★★★★★ 042 ★★★★★★★*/
#id042 {

}

#id042 {

}

/*★★★★★★★ 043 ★★★★★★★*/
#id043 {

}

#id043 {

}

/*★★★★★★★ 044 ★★★★★★★*/
#id044 {

}

#id044 {

}

/*★★★★★★★ 045 ★★★★★★★*/
#id045 {

}

#id045 {

}

/*★★★★★★★ 046 ★★★★★★★*/
#id046 {

}

#id046 {

}

/*★★★★★★★ 047 ★★★★★★★*/
#id047 {

}

#id047 {

}

/*★★★★★★★ 048 ★★★★★★★*/
#id048 {

}

#id048 {

}

/*★★★★★★★ 049 ★★★★★★★*/
#id049 {

}

#id049 {

}

/*★★★★★★★ 050 ★★★★★★★*/
#id050 {

}

#id050 {

}

/*★★★★★★★ 051 ★★★★★★★*/
#id051 {

}

#id051 {

}

/*★★★★★★★ 052 ★★★★★★★*/
#id052 {

}

#id052 {

}

/*★★★★★★★ 053 ★★★★★★★*/
#id053 {

}

#id053 {

}

/*★★★★★★★ 054 ★★★★★★★*/
#id054 {

}

#id054 {

}

/*★★★★★★★ 055 ★★★★★★★*/
#id055 {

}

#id055 {

}

/*★★★★★★★ 056 ★★★★★★★*/
#id056 {

}

#id056 {

}

/*★★★★★★★ 057 ★★★★★★★*/
#id057 {

}

#id057 {

}

/*★★★★★★★ 058 ★★★★★★★*/
#id058 {

}

#id058 {

}

/*★★★★★★★ 059 ★★★★★★★*/
#id059 {

}

#id059 {

}

/*★★★★★★★ 060 ★★★★★★★*/
#id060 {

}

#id060 {

}

/*★★★★★★★ 061 ★★★★★★★*/
#id061 {

}

#id061 {

}

/*★★★★★★★ 062 ★★★★★★★*/
#id062 {

}

#id062 {

}

/*★★★★★★★ 063 ★★★★★★★*/
#id063 {

}

#id063 {

}

/*★★★★★★★ 064 ★★★★★★★*/
#id064 {

}

#id064 {

}

/*★★★★★★★ 065 ★★★★★★★*/
#id065 {

}

#id065 {

}

/*★★★★★★★ 066 ★★★★★★★*/
#id066 {

}

#id066 {

}

/*★★★★★★★ 067 ★★★★★★★*/
#id067 {

}

#id067 {

}

/*★★★★★★★ 068 ★★★★★★★*/
#id068 {

}

#id068 {

}

/*★★★★★★★ 069 ★★★★★★★*/
#id069 {

}

#id069 {

}

/*★★★★★★★ 070 ★★★★★★★*/
#id070 {

}

#id070 {

}

/*★★★★★★★ 071 ★★★★★★★*/
#id071 {

}

#id071 {

}

/*★★★★★★★ 072 ★★★★★★★*/
#id072 {

}

#id072 {

}

/*★★★★★★★ 073 ★★★★★★★*/
#id073 {

}

#id073 {

}

/*★★★★★★★ 074 ★★★★★★★*/
#id074 {

}

#id074 {

}

/*★★★★★★★ 075 ★★★★★★★*/
#id075 {

}

#id075 {

}

/*★★★★★★★ 076 ★★★★★★★*/
#id076 {

}

#id076 {

}

/*★★★★★★★ 077 ★★★★★★★*/
#id077 {

}

#id077 {

}

/*★★★★★★★ 078 ★★★★★★★*/
#id078 {

}

#id078 {

}

/*★★★★★★★ 079 ★★★★★★★*/
#id079 {

}

#id079 {

}

/*★★★★★★★ 080 ★★★★★★★*/
#id080 {

}

#id080 {

}

/*★★★★★★★ 081 ★★★★★★★*/
#id081 {

}

#id081 {

}

/*★★★★★★★ 082 ★★★★★★★*/
#id082 {

}

#id082 {

}

/*★★★★★★★ 083 ★★★★★★★*/
#id083 {

}

#id083 {

}

/*★★★★★★★ 084 ★★★★★★★*/
#id084 {

}

#id084 {

}

/*★★★★★★★ 085 ★★★★★★★*/
#id085 {

}

#id085 {

}

/*★★★★★★★ 086 ★★★★★★★*/
#id086 {

}

#id086 {

}

/*★★★★★★★ 087 ★★★★★★★*/
#id087 {

}

#id087 {

}

/*★★★★★★★ 088 ★★★★★★★*/
#id088 {

}

#id088 {

}

/*★★★★★★★ 089 ★★★★★★★*/
#id089 {

}

#id089 {

}

/*★★★★★★★ 090 ★★★★★★★*/
#id090 {

}

#id090 {

}

/*★★★★★★★ 091 ★★★★★★★*/
#id091 {

}

#id091 {

}

/*★★★★★★★ 092 ★★★★★★★*/
#id092 {

}

#id092 {

}

/*★★★★★★★ 093 ★★★★★★★*/
#id093 {

}

#id093 {

}

/*★★★★★★★ 094 ★★★★★★★*/
#id094 {

}

#id094 {

}

/*★★★★★★★ 095 ★★★★★★★*/
#id095 {

}

#id095 {

}

/*★★★★★★★ 096 ★★★★★★★*/
#id096 {

}

#id096 {

}

/*★★★★★★★ 097 ★★★★★★★*/
#id097 {

}

#id097 {

}

/*★★★★★★★ 098 ★★★★★★★*/
#id098 {

}

#id098 {

}

/*★★★★★★★ 099 ★★★★★★★*/
#id099 {

}

#id099 {

}

/*★★★★★★★ 100 ★★★★★★★*/
#id100 {

}

#id100 {

}

/*★★★★★★★ 101 ★★★★★★★*/
#id101 {

}

#id101 {

}

/*★★★★★★★ 102 ★★★★★★★*/
#id102 {

}

#id102 {

}

/*★★★★★★★ 103 ★★★★★★★*/
#id103 {

}

#id103 {

}

/*★★★★★★★ 104 ★★★★★★★*/
#id104 {

}

#id104 {

}

/*★★★★★★★ 105 ★★★★★★★*/
#id105 {

}

#id105 {

}

/*★★★★★★★ 106 ★★★★★★★*/
#id106 {

}

#id106 {

}

/*★★★★★★★ 107 ★★★★★★★*/
#id107 {

}

#id107 {

}

/*★★★★★★★ 108 ★★★★★★★*/
#id108 {

}

#id108 {

}

/*★★★★★★★ 109 ★★★★★★★*/
#id109 {

}

#id109 {

}

/*★★★★★★★ 110 ★★★★★★★*/
#id110 {

}

#id110 {

}

/*★★★★★★★ 111 ★★★★★★★*/
#id111 {

}

#id111 {

}

/*★★★★★★★ 112 ★★★★★★★*/
#id112 {

}

#id112 {

}

/*★★★★★★★ 113 ★★★★★★★*/
#id113 {

}

#id113 {

}

/*★★★★★★★ 114 ★★★★★★★*/
#id114 {

}

#id114 {

}

/*★★★★★★★ 115 ★★★★★★★*/
#id115 {

}

#id115 {

}

/*★★★★★★★ 116 ★★★★★★★*/
#id116 {

}

#id116 {

}

/*★★★★★★★ 117 ★★★★★★★*/
#id117 {

}

#id117 {

}

/*★★★★★★★ 118 ★★★★★★★*/
#id118 {

}

#id118 {

}

/*★★★★★★★ 119 ★★★★★★★*/
#id119 {

}

#id119 {

}

/*★★★★★★★ 120 ★★★★★★★*/
#id120 {

}

#id120 {

}

/*★★★★★★★ 121 ★★★★★★★*/
#id121 {

}

#id121 {

}

/*★★★★★★★ 122 ★★★★★★★*/
#id122 {

}

#id122 {

}

/*★★★★★★★ 123 ★★★★★★★*/
#id123 {

}

#id123 {

}

/*★★★★★★★ 124 ★★★★★★★*/
#id124 {

}

#id124 {

}

/*★★★★★★★ 125 ★★★★★★★*/
#id125 {

}

#id125 {

}

/*★★★★★★★ 126 ★★★★★★★*/
#id126 {

}

#id126 {

}

/*★★★★★★★ 127 ★★★★★★★*/
#id127 {

}

#id127 {

}

/*★★★★★★★ 128 ★★★★★★★*/
#id128 {

}

#id128 {

}

/*★★★★★★★ 129 ★★★★★★★*/
#id129 {

}

#id129 {

}

/*★★★★★★★ 130 ★★★★★★★*/
#id130 {

}

#id130 {

}

/*★★★★★★★ 131 ★★★★★★★*/
#id131 {

}

#id131 {

}

/*★★★★★★★ 132 ★★★★★★★*/
#id132 {

}

#id132 {

}

/*★★★★★★★ 133 ★★★★★★★*/
#id133 {

}

#id133 {

}

/*★★★★★★★ 134 ★★★★★★★*/
#id134 {

}

#id134 {

}

/*★★★★★★★ 135 ★★★★★★★*/
#id135 {

}

#id135 {

}

/*★★★★★★★ 136 ★★★★★★★*/
#id136 {

}

#id136 {

}

/*★★★★★★★ 137 ★★★★★★★*/
#id137 {

}

#id137 {

}

/*★★★★★★★ 138 ★★★★★★★*/
#id138 {

}

#id138 {

}

/*★★★★★★★ 139 ★★★★★★★*/
#id139 {

}

#id139 {

}

/*★★★★★★★ 140 ★★★★★★★*/
#id140 {

}

#id140 {

}

/*★★★★★★★ 141 ★★★★★★★*/
#id141 {

}

#id141 {

}

/*★★★★★★★ 142 ★★★★★★★*/
#id142 {

}

#id142 {

}

/*★★★★★★★ 143 ★★★★★★★*/
#id143 {

}

#id143 {

}

/*★★★★★★★ 144 ★★★★★★★*/
#id144 {

}

#id144 {

}

/*★★★★★★★ 145 ★★★★★★★*/
#id145 {

}

#id145 {

}

/*★★★★★★★ 146 ★★★★★★★*/
#id146 {

}

#id146 {

}

/*★★★★★★★ 147 ★★★★★★★*/
#id147 {

}

#id147 {

}

/*★★★★★★★ 148 ★★★★★★★*/
#id148 {

}

#id148 {

}

/*★★★★★★★ 149 ★★★★★★★*/
#id149 {

}

#id149 {

}

/*★★★★★★★ 150 ★★★★★★★*/
#id150 {

}

#id150 {

}

/*★★★★★★★ 151 ★★★★★★★*/
#id151 {

}

#id151 {

}

/*★★★★★★★ 152 ★★★★★★★*/
#id152 {

}

#id152 {

}

/*★★★★★★★ 153 ★★★★★★★*/
#id153 {

}

#id153 {

}

/*★★★★★★★ 154 ★★★★★★★*/
#id154 {

}

#id154 {

}

/*★★★★★★★ 155 ★★★★★★★*/
#id155 {

}

#id155 {

}

/*★★★★★★★ 156 ★★★★★★★*/
#id156 {

}

#id156 {

}

/*★★★★★★★ 157 ★★★★★★★*/
#id157 {

}

#id157 {

}

/*★★★★★★★ 158 ★★★★★★★*/
#id158 {

}

#id158 {

}

/*★★★★★★★ 159 ★★★★★★★*/
#id159 {

}

#id159 {

}

/*★★★★★★★ 160 ★★★★★★★*/
#id160 {

}

#id160 {

}

/*★★★★★★★ 161 ★★★★★★★*/
#id161 {

}

#id161 {

}

/*★★★★★★★ 162 ★★★★★★★*/
#id162 {

}

#id162 {

}

/*★★★★★★★ 163 ★★★★★★★*/
#id163 {

}

#id163 {

}

/*★★★★★★★ 164 ★★★★★★★*/
#id164 {

}

#id164 {

}

/*★★★★★★★ 165 ★★★★★★★*/
#id165 {

}

#id165 {

}

/*★★★★★★★ 166 ★★★★★★★*/
#id166 {

}

#id166 {

}

/*★★★★★★★ 167 ★★★★★★★*/
#id167 {

}

#id167 {

}

/*★★★★★★★ 168 ★★★★★★★*/
#id168 {

}

#id168 {

}

/*★★★★★★★ 169 ★★★★★★★*/
#id169 {

}

#id169 {

}

/*★★★★★★★ 170 ★★★★★★★*/
#id170 {

}

#id170 {

}

/*★★★★★★★ 171 ★★★★★★★*/
#id171 {

}

#id171 {

}

/*★★★★★★★ 172 ★★★★★★★*/
#id172 {

}

#id172 {

}

/*★★★★★★★ 173 ★★★★★★★*/
#id173 {

}

#id173 {

}

/*★★★★★★★ 174 ★★★★★★★*/
#id174 {

}

#id174 {

}

/*★★★★★★★ 175 ★★★★★★★*/
#id175 {

}

#id175 {

}

/*★★★★★★★ 176 ★★★★★★★*/
#id176 {

}

#id176 {

}

/*★★★★★★★ 177 ★★★★★★★*/
#id177 {

}

#id177 {

}

/*★★★★★★★ 178 ★★★★★★★*/
#id178 {

}

#id178 {

}

/*★★★★★★★ 179 ★★★★★★★*/
#id179 {

}

#id179 {

}

/*★★★★★★★ 180 ★★★★★★★*/
#id180 {

}

#id180 {

}

/*★★★★★★★ 181 ★★★★★★★*/
#id181 {

}

#id181 {

}

/*★★★★★★★ 182 ★★★★★★★*/
#id182 {

}

#id182 {

}

/*★★★★★★★ 183 ★★★★★★★*/
#id183 {

}

#id183 {

}

/*★★★★★★★ 184 ★★★★★★★*/
#id184 {

}

#id184 {

}

/*★★★★★★★ 185 ★★★★★★★*/
#id185 {

}

#id185 {

}

/*★★★★★★★ 186 ★★★★★★★*/
#id186 {

}

#id186 {

}

/*★★★★★★★ 187 ★★★★★★★*/
#id187 {

}

#id187 {

}

/*★★★★★★★ 188 ★★★★★★★*/
#id188 {

}

#id188 {

}

/*★★★★★★★ 189 ★★★★★★★*/
#id189 {

}

#id189 {

}

/*★★★★★★★ 190 ★★★★★★★*/
#id190 {

}

#id190 {

}

/*★★★★★★★ 191 ★★★★★★★*/
#id191 {

}

#id191 {

}

/*★★★★★★★ 192 ★★★★★★★*/
#id192 {

}

#id192 {

}

/*★★★★★★★ 193 ★★★★★★★*/
#id193 {

}

#id193 {

}

/*★★★★★★★ 194 ★★★★★★★*/
#id194 {

}

#id194 {

}

/*★★★★★★★ 195 ★★★★★★★*/
#id195 {

}

#id195 {

}

/*★★★★★★★ 196 ★★★★★★★*/
#id196 {

}

#id196 {

}

/*★★★★★★★ 197 ★★★★★★★*/
#id197 {

}

#id197 {

}

/*★★★★★★★ 198 ★★★★★★★*/
#id198 {

}

#id198 {

}

/*★★★★★★★ 199 ★★★★★★★*/
#id199 {

}

#id199 {

}

/*★★★★★★★ 200 ★★★★★★★*/
#id200 {

}

#id200 {

}

/*★★★★★★★ 201 ★★★★★★★*/
#id201 {

}

#id201 {

}

/*★★★★★★★ 202 ★★★★★★★*/
#id202 {

}

#id202 {

}

/*★★★★★★★ 203 ★★★★★★★*/
#id203 {

}

#id203 {

}

/*★★★★★★★ 204 ★★★★★★★*/
#id204 {

}

#id204 {

}

/*★★★★★★★ 205 ★★★★★★★*/
#id205 {

}

#id205 {

}

/*★★★★★★★ 206 ★★★★★★★*/
#id206 {

}

#id206 {

}

/*★★★★★★★ 207 ★★★★★★★*/
#id207 {

}

#id207 {

}

/*★★★★★★★ 208 ★★★★★★★*/
#id208 {

}

#id208 {

}

/*★★★★★★★ 209 ★★★★★★★*/
#id209 {

}

#id209 {

}

/*★★★★★★★ 210 ★★★★★★★*/
#id210 {

}

#id210 {

}

/*★★★★★★★ 211 ★★★★★★★*/
#id211 {

}

#id211 {

}

/*★★★★★★★ 212 ★★★★★★★*/
#id212 {

}

#id212 {

}

/*★★★★★★★ 213 ★★★★★★★*/
#id213 {

}

#id213 {

}

/*★★★★★★★ 214 ★★★★★★★*/
#id214 {

}

#id214 {

}

/*★★★★★★★ 215 ★★★★★★★*/
#id215 {

}

#id215 {

}

/*★★★★★★★ 216 ★★★★★★★*/
#id216 {

}

#id216 {

}

/*★★★★★★★ 217 ★★★★★★★*/
#id217 {

}

#id217 {

}

/*★★★★★★★ 218 ★★★★★★★*/
#id218 {

}

#id218 {

}

/*★★★★★★★ 219 ★★★★★★★*/
#id219 {

}

#id219 {

}

/*★★★★★★★ 220 ★★★★★★★*/
#id220 {

}

#id220 {

}

/*★★★★★★★ 221 ★★★★★★★*/
#id221 {

}

#id221 {

}

/*★★★★★★★ 222 ★★★★★★★*/
#id222 {

}

#id222 {

}

/*★★★★★★★ 223 ★★★★★★★*/
#id223 {

}

#id223 {

}

/*★★★★★★★ 224 ★★★★★★★*/
#id224 {

}

#id224 {

}

/*★★★★★★★ 225 ★★★★★★★*/
#id225 {

}

#id225 {

}

/*★★★★★★★ 226 ★★★★★★★*/
#id226 {

}

#id226 {

}

/*★★★★★★★ 227 ★★★★★★★*/
#id227 {

}

#id227 {

}

/*★★★★★★★ 228 ★★★★★★★*/
#id228 {

}

#id228 {

}

/*★★★★★★★ 229 ★★★★★★★*/
#id229 {

}

#id229 {

}

/*★★★★★★★ 230 ★★★★★★★*/
#id230 {

}

#id230 {

}

/*★★★★★★★ 231 ★★★★★★★*/
#id231 {

}

#id231 {

}

/*★★★★★★★ 232 ★★★★★★★*/
#id232 {

}

#id232 {

}

/*★★★★★★★ 233 ★★★★★★★*/
#id233 {

}

#id233 {

}

/*★★★★★★★ 234 ★★★★★★★*/
#id234 {

}

#id234 {

}

/*★★★★★★★ 235 ★★★★★★★*/
#id235 {

}

#id235 {

}

/*★★★★★★★ 236 ★★★★★★★*/
#id236 {

}

#id236 {

}

/*★★★★★★★ 237 ★★★★★★★*/
#id237 {

}

#id237 {

}

/*★★★★★★★ 238 ★★★★★★★*/
#id238 {

}

#id238 {

}

/*★★★★★★★ 239 ★★★★★★★*/
#id239 {

}

#id239 {

}

/*★★★★★★★ 240 ★★★★★★★*/
#id240 {

}

#id240 {

}

/*★★★★★★★ 241 ★★★★★★★*/
#id241 {

}

#id241 {

}

/*★★★★★★★ 242 ★★★★★★★*/
#id242 {

}

#id242 {

}

/*★★★★★★★ 243 ★★★★★★★*/
#id243 {

}

#id243 {

}

/*★★★★★★★ 244 ★★★★★★★*/
#id244 {

}

#id244 {

}

/*★★★★★★★ 245 ★★★★★★★*/
#id245 {

}

#id245 {

}

/*★★★★★★★ 246 ★★★★★★★*/
#id246 {

}

#id246 {

}

/*★★★★★★★ 247 ★★★★★★★*/
#id247 {

}

#id247 {

}

/*★★★★★★★ 248 ★★★★★★★*/
#id248 {

}

#id248 {

}

/*★★★★★★★ 249 ★★★★★★★*/
#id249 {

}

#id249 {

}

/*★★★★★★★ 250 ★★★★★★★*/
#id250 {

}

#id250 {

}

/*★★★★★★★ 251 ★★★★★★★*/
#id251 {

}

#id251 {

}

/*★★★★★★★ 252 ★★★★★★★*/
#id252 {

}

#id252 {

}

/*★★★★★★★ 253 ★★★★★★★*/
#id253 {

}

#id253 {

}

/*★★★★★★★ 254 ★★★★★★★*/
#id254 {

}

#id254 {

}

/*★★★★★★★ 255 ★★★★★★★*/
#id255 {

}

#id255 {

}

/*★★★★★★★ 256 ★★★★★★★*/
#id256 {

}

#id256 {

}

/*★★★★★★★ 257 ★★★★★★★*/
#id257 {

}

#id257 {

}

/*★★★★★★★ 258 ★★★★★★★*/
#id258 {

}

#id258 {

}

/*★★★★★★★ 259 ★★★★★★★*/
#id259 {

}

#id259 {

}

/*★★★★★★★ 260 ★★★★★★★*/
#id260 {

}

#id260 {

}

/*★★★★★★★ 261 ★★★★★★★*/
#id261 {

}

#id261 {

}

/*★★★★★★★ 262 ★★★★★★★*/
#id262 {

}

#id262 {

}

/*★★★★★★★ 263 ★★★★★★★*/
#id263 {

}

#id263 {

}

/*★★★★★★★ 264 ★★★★★★★*/
#id264 {

}

#id264 {

}

/*★★★★★★★ 265 ★★★★★★★*/
#id265 {

}

#id265 {

}

/*★★★★★★★ 266 ★★★★★★★*/
#id266 {

}

#id266 {

}

/*★★★★★★★ 267 ★★★★★★★*/
#id267 {

}

#id267 {

}

/*★★★★★★★ 268 ★★★★★★★*/
#id268 {

}

#id268 {

}

/*★★★★★★★ 269 ★★★★★★★*/
#id269 {

}

#id269 {

}

/*★★★★★★★ 270 ★★★★★★★*/
#id270 {

}

#id270 {

}

/*★★★★★★★ 271 ★★★★★★★*/
#id271 {

}

#id271 {

}

/*★★★★★★★ 272 ★★★★★★★*/
#id272 {

}

#id272 {

}

/*★★★★★★★ 273 ★★★★★★★*/
#id273 {

}

#id273 {

}

/*★★★★★★★ 274 ★★★★★★★*/
#id274 {

}

#id274 {

}

/*★★★★★★★ 275 ★★★★★★★*/
#id275 {

}

#id275 {

}

/*★★★★★★★ 276 ★★★★★★★*/
#id276 {

}

#id276 {

}

/*★★★★★★★ 277 ★★★★★★★*/
#id277 {

}

#id277 {

}

/*★★★★★★★ 278 ★★★★★★★*/
#id278 {

}

#id278 {

}

/*★★★★★★★ 279 ★★★★★★★*/
#id279 {

}

#id279 {

}

/*★★★★★★★ 280 ★★★★★★★*/
#id280 {

}

#id280 {

}

/*★★★★★★★ 281 ★★★★★★★*/
#id281 {

}

#id281 {

}

/*★★★★★★★ 282 ★★★★★★★*/
#id282 {

}

#id282 {

}

/*★★★★★★★ 283 ★★★★★★★*/
#id283 {

}

#id283 {

}

/*★★★★★★★ 284 ★★★★★★★*/
#id284 {

}

#id284 {

}

/*★★★★★★★ 285 ★★★★★★★*/
#id285 {

}

#id285 {

}

/*★★★★★★★ 286 ★★★★★★★*/
#id286 {

}

#id286 {

}

/*★★★★★★★ 287 ★★★★★★★*/
#id287 {

}

#id287 {

}

/*★★★★★★★ 288 ★★★★★★★*/
#id288 {

}

#id288 {

}

/*★★★★★★★ 289 ★★★★★★★*/
#id289 {

}

#id289 {

}

/*★★★★★★★ 290 ★★★★★★★*/
#id290 {

}

#id290 {

}

/*★★★★★★★ 291 ★★★★★★★*/
#id291 {

}

#id291 {

}

/*★★★★★★★ 292 ★★★★★★★*/
#id292 {

}

#id292 {

}

/*★★★★★★★ 293 ★★★★★★★*/
#id293 {

}

#id293 {

}

/*★★★★★★★ 294 ★★★★★★★*/
#id294 {

}

#id294 {

}

/*★★★★★★★ 295 ★★★★★★★*/
#id295 {

}

#id295 {

}

/*★★★★★★★ 296 ★★★★★★★*/
#id296 {

}

#id296 {

}

/*★★★★★★★ 297 ★★★★★★★*/
#id297 {

}

#id297 {

}

/*★★★★★★★ 298 ★★★★★★★*/
#id298 {

}

#id298 {

}

/*★★★★★★★ 299 ★★★★★★★*/
#id299 {

}

#id299 {

}

/*★★★★★★★ 300 ★★★★★★★*/
#id300 {

}

#id300 {

}

/*★★★★★★★ 301 ★★★★★★★*/
#id301 {

}

#id301 {

}

/*★★★★★★★ 302 ★★★★★★★*/
#id302 {

}

#id302 {

}

/*★★★★★★★ 303 ★★★★★★★*/
#id303 {

}

#id303 {

}

/*★★★★★★★ 304 ★★★★★★★*/
#id304 {

}

#id304 {

}

/*★★★★★★★ 305 ★★★★★★★*/
#id305 {

}

#id305 {

}

/*★★★★★★★ 306 ★★★★★★★*/
#id306 {

}

#id306 {

}

/*★★★★★★★ 307 ★★★★★★★*/
#id307 {

}

#id307 {

}

/*★★★★★★★ 308 ★★★★★★★*/
#id308 {

}

#id308 {

}

/*★★★★★★★ 309 ★★★★★★★*/
#id309 {

}

#id309 {

}

/*★★★★★★★ 310 ★★★★★★★*/
#id310 {

}

#id310 {

}

/*★★★★★★★ 311 ★★★★★★★*/
#id311 {

}

#id311 {

}

/*★★★★★★★ 312 ★★★★★★★*/
#id312 {

}

#id312 {

}

/*★★★★★★★ 313 ★★★★★★★*/
#id313 {

}

#id313 {

}

/*★★★★★★★ 314 ★★★★★★★*/
#id314 {

}

#id314 {

}

/*★★★★★★★ 315 ★★★★★★★*/
#id315 {

}

#id315 {

}

/*★★★★★★★ 316 ★★★★★★★*/
#id316 {

}

#id316 {

}

/*★★★★★★★ 317 ★★★★★★★*/
#id317 {

}

#id317 {

}

/*★★★★★★★ 318 ★★★★★★★*/
#id318 {

}

#id318 {

}

/*★★★★★★★ 319 ★★★★★★★*/
#id319 {

}

#id319 {

}

/*★★★★★★★ 320 ★★★★★★★*/
#id320 {

}

#id320 {

}

/*★★★★★★★ 321 ★★★★★★★*/
#id321 {

}

#id321 {

}

/*★★★★★★★ 322 ★★★★★★★*/
#id322 {

}

#id322 {

}

/*★★★★★★★ 323 ★★★★★★★*/
#id323 {

}

#id323 {

}

/*★★★★★★★ 324 ★★★★★★★*/
#id324 {

}

#id324 {

}

/*★★★★★★★ 325 ★★★★★★★*/
#id325 {

}

#id325 {

}

/*★★★★★★★ 326 ★★★★★★★*/
#id326 {

}

#id326 {

}

/*★★★★★★★ 327 ★★★★★★★*/
#id327 {

}

#id327 {

}

/*★★★★★★★ 328 ★★★★★★★*/
#id328 {

}

#id328 {

}

/*★★★★★★★ 329 ★★★★★★★*/
#id329 {

}

#id329 {

}

/*★★★★★★★ 330 ★★★★★★★*/
#id330 {

}

#id330 {

}

/*★★★★★★★ 331 ★★★★★★★*/
#id331 {

}

#id331 {

}

/*★★★★★★★ 332 ★★★★★★★*/
#id332 {

}

#id332 {

}

/*★★★★★★★ 333 ★★★★★★★*/
#id333 {

}

#id333 {

}

/*★★★★★★★ 334 ★★★★★★★*/
#id334 {

}

#id334 {

}

/*★★★★★★★ 335 ★★★★★★★*/
#id335 {

}

#id335 {

}

/*★★★★★★★ 336 ★★★★★★★*/
#id336 {

}

#id336 {

}

/*★★★★★★★ 337 ★★★★★★★*/
#id337 {

}

#id337 {

}

/*★★★★★★★ 338 ★★★★★★★*/
#id338 {

}

#id338 {

}

/*★★★★★★★ 339 ★★★★★★★*/
#id339 {

}

#id339 {

}

/*★★★★★★★ 340 ★★★★★★★*/
#id340 {

}

#id340 {

}

/*★★★★★★★ 341 ★★★★★★★*/
#id341 {

}

#id341 {

}

/*★★★★★★★ 342 ★★★★★★★*/
#id342 {

}

#id342 {

}

/*★★★★★★★ 343 ★★★★★★★*/
#id343 {

}

#id343 {

}

/*★★★★★★★ 344 ★★★★★★★*/
#id344 {

}

#id344 {

}

/*★★★★★★★ 345 ★★★★★★★*/
#id345 {

}

#id345 {

}

/*★★★★★★★ 346 ★★★★★★★*/
#id346 {

}

#id346 {

}

/*★★★★★★★ 347 ★★★★★★★*/
#id347 {

}

#id347 {

}

/*★★★★★★★ 348 ★★★★★★★*/
#id348 {

}

#id348 {

}

/*★★★★★★★ 349 ★★★★★★★*/
#id349 {

}

#id349 {

}

/*★★★★★★★ 350 ★★★★★★★*/
#id350 {

}

#id350 {

}

/*★★★★★★★ 351 ★★★★★★★*/
#id351 {

}

#id351 {

}

/*★★★★★★★ 352 ★★★★★★★*/
#id352 {

}

#id352 {

}

/*★★★★★★★ 353 ★★★★★★★*/
#id353 {

}

#id353 {

}

/*★★★★★★★ 354 ★★★★★★★*/
#id354 {

}

#id354 {

}

/*★★★★★★★ 355 ★★★★★★★*/
#id355 {

}

#id355 {

}

/*★★★★★★★ 356 ★★★★★★★*/
#id356 {

}

#id356 {

}

/*★★★★★★★ 357 ★★★★★★★*/
#id357 {

}

#id357 {

}

/*★★★★★★★ 358 ★★★★★★★*/
#id358 {

}

#id358 {

}

/*★★★★★★★ 359 ★★★★★★★*/
#id359 {

}

#id359 {

}

/*★★★★★★★ 360 ★★★★★★★*/
#id360 {

}

#id360 {

}

/*★★★★★★★ 361 ★★★★★★★*/
#id361 {

}

#id361 {

}

/*★★★★★★★ 362 ★★★★★★★*/
#id362 {

}

#id362 {

}

/*★★★★★★★ 363 ★★★★★★★*/
#id363 {

}

#id363 {

}

/*★★★★★★★ 364 ★★★★★★★*/
#id364 {

}

#id364 {

}

/*★★★★★★★ 365 ★★★★★★★*/
#id365 {

}

#id365 {

}

/*★★★★★★★ 366 ★★★★★★★*/
#id366 {

}

#id366 {

}

/*★★★★★★★ 367 ★★★★★★★*/
#id367 {

}

#id367 {

}

/*★★★★★★★ 368 ★★★★★★★*/
#id368 {

}

#id368 {

}

/*★★★★★★★ 369 ★★★★★★★*/
#id369 {

}

#id369 {

}

/*★★★★★★★ 370 ★★★★★★★*/
#id370 {

}

#id370 {

}

/*★★★★★★★ 371 ★★★★★★★*/
#id371 {

}

#id371 {

}

/*★★★★★★★ 372 ★★★★★★★*/
#id372 {

}

#id372 {

}

/*★★★★★★★ 373 ★★★★★★★*/
#id373 {

}

#id373 {

}

/*★★★★★★★ 374 ★★★★★★★*/
#id374 {

}

#id374 {

}

/*★★★★★★★ 375 ★★★★★★★*/
#id375 {

}

#id375 {

}

/*★★★★★★★ 376 ★★★★★★★*/
#id376 {

}

#id376 {

}

/*★★★★★★★ 377 ★★★★★★★*/
#id377 {

}

#id377 {

}

/*★★★★★★★ 378 ★★★★★★★*/
#id378 {

}

#id378 {

}

/*★★★★★★★ 379 ★★★★★★★*/
#id379 {

}

#id379 {

}

/*★★★★★★★ 380 ★★★★★★★*/
#id380 {

}

#id380 {

}

/*★★★★★★★ 381 ★★★★★★★*/
#id381 {

}

#id381 {

}

/*★★★★★★★ 382 ★★★★★★★*/
#id382 {

}

#id382 {

}

/*★★★★★★★ 383 ★★★★★★★*/
#id383 {

}

#id383 {

}

/*★★★★★★★ 384 ★★★★★★★*/
#id384 {

}

#id384 {

}

/*★★★★★★★ 385 ★★★★★★★*/
#id385 {

}

#id385 {

}

/*★★★★★★★ 386 ★★★★★★★*/
#id386 {

}

#id386 {

}

/*★★★★★★★ 387 ★★★★★★★*/
#id387 {

}

#id387 {

}

/*★★★★★★★ 388 ★★★★★★★*/
#id388 {

}

#id388 {

}

/*★★★★★★★ 389 ★★★★★★★*/
#id389 {

}

#id389 {

}

/*★★★★★★★ 390 ★★★★★★★*/
#id390 {

}

#id390 {

}

/*★★★★★★★ 391 ★★★★★★★*/
#id391 {

}

#id391 {

}

/*★★★★★★★ 392 ★★★★★★★*/
#id392 {

}

#id392 {

}

/*★★★★★★★ 393 ★★★★★★★*/
#id393 {

}

#id393 {

}

/*★★★★★★★ 394 ★★★★★★★*/
#id394 {

}

#id394 {

}

/*★★★★★★★ 395 ★★★★★★★*/
#id395 {

}

#id395 {

}

/*★★★★★★★ 396 ★★★★★★★*/
#id396 {

}

#id396 {

}

/*★★★★★★★ 397 ★★★★★★★*/
#id397 {

}

#id397 {

}

/*★★★★★★★ 398 ★★★★★★★*/
#id398 {

}

#id398 {

}

/*★★★★★★★ 399 ★★★★★★★*/
#id399 {

}

#id399 {

}

/*★★★★★★★ 400 ★★★★★★★*/
#id400 {

}

#id400 {

}